<h1><%= "#{@title} PAGE" %></h1>

<% @array_2.each do |n| %>
    <p><%= n %></p>
<% end %>

<a href="/demo/index">to index</a>
<%= link_to("to about",{ action: 'about' }) %>
<%= link_to("to products",{ :controller=> 'product', :action=> 'index' }) %>
<br>
<%= link_to("US contact",{ action: 'contact', country: 'US' }) %>
<%= link_to("UK contact",{ action: 'contact', country: 'UK' }) %>
<%= link_to("contact",{ action: 'contact' }) %>